html,body { margin: 0; padding: 0;}
#homebase {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.menu-img{
	width:135px; 
	height:170px; 
	margin: 5px 20px; 
	top: 10px;
	left:50px; 
	border:0px solid #000;}
	
.menu-img img {
	width: 135px; 
	height: 113px;
}
	
.menu-img p{ 
	text-align: center; 
	height:35px;
}

.appHeader{ 
	background: #0e8668; 
	padding: 5px 10px; 
	text-align:center;
	margin-bottom: 20px;
	margin-top: -20px;
	}
	
.appHeader p{ 
	color: #fdeb9a; 
	font-family: 'Permanent Marker', cursive;
	font-size: 24pt; 
	margin:0; 
	padding: 0; }
	
.appContent{ 
	border: 0px solid #000; }
	
.spacer{
	height: 40px; }
	
.appFooter{
	position: absolute;
	margin-top: 60px;
	background: #333; 
	padding: 5px; 
	height: 55px; 
	width: 100%;
	bottom: 0px;
}

.appFooter p {
	color: #FFF; 
	text-align:center; 
	font-family: 'Cookie', cursive;
	font-size: 24px;
}

@media print {
	.print-hide { display: none; }
}